/* BUTTON */

@layer components {

  .c-btn {
    --btn-bg: transparent;
    --btn-border-color: currentColor;
    --btn-border-width: 1px;
    --btn-border-radius: theme('borderRadius.md');
    --btn-color: inherit;
    --btn-font: inherit;
    --btn-padding-x: theme('spacing.4');
    --btn-padding-y: theme('spacing.2');
    --btn-transition-property: theme('transitionProperty.colors');
    --btn-transition-duration: theme('transitionDuration.150');
    --btn-transition-timing-function: theme('transitionTimingFunction.in-out');
    --btn-focus-ring-color: theme('colors.blue.600');

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    border-style: solid;
    border-width: var(--btn-border-width);
    border-radius: var(--btn-border-radius);
    color: var(--btn-color);
    font: var(--btn-font);
    user-select: none;
    transition-property: var(--btn-transition-property);
    transition-duration: var(--btn-transition-duration);
    transition-timing-function: var(--btn-transition-timing-function);

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
      --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
      --tw-ring-offset-width: 2px;
      --tw-ring-color: var(--btn-focus-ring-color);
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    }
  }

}
