/* LINK-FAUX */

@layer components {

  .c-link-faux {
    --link-faux-z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: var(--link-faux-z-index);
    }
  }

}
