{% extends "layouts/base.html" %}


{% block main %}
  <h1 class="title">Components</h1>

  <div class="grid grid-cols-3">
    <div class="aspect-w-16 aspect-h-9 bg-red-200"></div>
  </div>

  {% include "partials/container.html" %}
  {% include "partials/breakout.html" %}
  {% include "partials/grid.html" %}
  {% include "partials/ratio.html" %}
  {% include "partials/link-faux.html" %}
  {% include "partials/truncate.html" %}
  {% include "partials/button.html" %}
  {# include "partials/forms.html" #}
  {% include "partials/forms-tw.html" %}
{% endblock %}
