{% extends "layouts/base.html" %}


{% block main %}
  <div class="grid grid-cols-2">
    <div class="text-xs">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-xs2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-sm2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-base">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-base2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-lg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-lg2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-xl2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-2xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-2xl2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-3xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-3xl2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-4xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
    <div class="text-4xl2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, impedit, obcaecati nemo sequi consequuntur libero inventore adipisci modi molestias odit nihil aliquam accusantium qui iure quibusdam facilis nostrum. Minus, odit!</div>
  </div>
  <h1 class="title">Base</h1>

  <section class="space-y-4">
    <!-- Headings -->
    <h1>Heading level 1</h1>
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <h4>Heading level 4</h4>
    <h5>Heading level 5</h5>
    <h6>Heading level 6</h6>

    <!-- Paragraphs -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!-- Lists -->
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>
        Facilisis in pretium nisl aliquet
        <ul>
          <li>Nulla volutpat aliquam velit</li>
          <li>Phasellus iaculis neque</li>
          <li>Purus sodales ultricies</li>
        </ul>
      </li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>

    <ol>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
    </ol>

    <dl>
      <dt>Description lists</dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>Euismod</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem.</dd>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>Malesuada porta</dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>

    <!-- Horizontal Rule -->
    <hr>
  </section>
{% endblock %}
