{% extends "layouts/base.html" %}


{% block main %}
  <!-- Accordion -->
  <section class="space-y-6">
    <h2>Accordion</h2>

    <!--
      Accordion
      https://www.w3.org/TR/wai-aria-practices-1.1/#accordion
    -->

    {% set accordion = [
      {
        title: "What's the best thing about Switzerland?",
        content: "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat."
      },
      {
        title: "How do you make holy water?",
        content: "You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.  "
      }
    ] %}

    <div class="divide-y" x-data="{ openPanel: 1 }">
      {% for item in accordion %}
        <div class="py-6">
          <h3 class="text-lg">
            <button class="flex justify-between items-start w-full
              text-gray-400 text-left focus:outline-none focus:text-gray-900"
              id="accordion{{ loop.index }}"
              aria-controls="accordionPanel{{ loop.index }}"
              @click="openPanel = (openPanel === {{ loop.index }} ? null : {{ loop.index }})"
              x-bind:aria-expanded="openPanel === {{ loop.index }}">
              <span class="font-medium text-gray-900">
                {{ item.title }}
              </span>

              <svg class="h-6 w-6 ml-6"
                x-bind:class="{ '-rotate-180': openPanel === {{ loop.index }}, 'rotate-0': !(openPanel === {{ loop.index }}) }"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>
          </h3>

          <div class="mt-2 pr-12" id="accordionPanel{{ loop.index }}" role="region"
            aria-labelledby="accordion{{ loop.index }}"
            x-show="openPanel === {{ loop.index }}">

            <p class="text-gray-500">
              {{ item.content }}
            </p>

          </div>
        </div>
      {% endfor %}
    </div>
  </section>


  <!-- Modals -->
  <section class="space-y-6">
    <h2>Modals</h2>

    <div x-data="{ open: false }"
      @keydown.escape="open = false">

      <button @click="open = true">Modal</button>

      <div class="fixed bottom-0 inset-x-0 px-4 pb-6
        sm:inset-0 sm:p-0 sm:flex sm:items-center sm:justify-center"
        x-show="open">

        <!-- Backdrop -->
        <div class="fixed inset-0 transition-opacity"
          x-show="open"
          x-transition:enter="ease-out duration-300"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="ease-in duration-200"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- Modal -->
        <div class="bg-white rounded-lg px-4 pt-5 pb-4 overflow-hidden shadow-xl transition-all sm:max-w-lg sm:w-full sm:p-6"
          role="dialog"
          id="dialog1"
          aria-labelledby="dialog1Label"
          aria-modal="true"
          x-show="open"
          x-transition:enter="ease-out duration-300"
          x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave="ease-in duration-200"
          x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          @click.away="open = false">

          <div>
            <h3 id="dialog1Label">Modal title</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ex dolorem doloremque, nostrum hic culpa unde tenetur dolores fugit magni pariatur enim perspiciatis nobis. Ipsa, alias. Quam quo ipsa cum.</p>
          </div>

          <div>
            <button type="button"
              @click="open = false">
              Button
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Tabs -->
  <section class="space-y-6">
    <h2>Tabs</h2>

    <!--
      Tabs
      https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel
      TODO: tabindex
    -->

    {% set tabs = [
      {
        title: "My account",
        content: "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat."
      },
      {
        title: "Billing",
        content: "You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.  "
      }
    ] %}

    {% set tabClasses = "whitespace-nowrap -mb-px py-4 px-1 border-b-2 focus:outline-none" %}

    <div x-data="{
        openTab: 'tab1',
        activeClasses: 'border-indigo-500 text-indigo-600 focus:text-indigo-800 focus:border-indigo-700',
        inactiveClasses: 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300'
      }">

      <div class="flex space-x-8 border-b"
        role="tablist"
        aria-label="">

        {% for item in tabs %}
          <button type="button" role="tab"
            id="tab{{ loop.index }}"
            aria-controls="tabPanel{{ loop.index }}"
            class="{{ tabClasses }}"
            :class="openTab === 'tab{{ loop.index }}' ? activeClasses : inactiveClasses"
            @click="openTab = 'tab{{ loop.index }}'"
            x-bind:aria-selected="openTab === 'tab{{ loop.index }}'"
            @keydown.arrow-right="openTab === 'tab{{ loop.index + 1 }}'">
            {{ item.title }}
          </button>
        {% endfor %}
      </div>

      {% for item in tabs %}
        <div role="tabpanel"
          id="tabPanel{{ loop.index }}"
          aria-labelledby="tab{{ loop.index }}"
          class="pt-6"
          x-show="openTab === 'tab{{ loop.index }}'">

          {{ item.content }}

        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
