<section class="space-y-4">
  <h2 class="subtitle">Button</h2>

  <div class="flex flex-wrap gap-4">
    <button class="c-btn" type="submit">Button</button>

    <a class="c-btn" href="#">Link</a>

    <a class="c-btn" href="#">
      <svg class="-ml-0.5 mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
      </svg>
      Button with icon
    </a>

    <button class="c-btn w-full" type="submit">Button</button>
  </div>
</section>
