<section class="space-y-4">
  <h2 class="subtitle">Forms</h2>

  <div>
    <label class="inline-block mb-1" for="inputDemo">Input</label>
    <input class="c-input" id="inputDemo" type="text" placeholder="Placeholder example">
  </div>

  <div>
    <label class="inline-block mb-1" for="selectDemo">Select</label>
    <select class="c-input" id="selectDemo">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div>
    <label class="inline-block mb-1" for="textareaDemo">Textarea</label>
    <textarea class="c-input" id="textareaDemo" rows="4" cols="16"></textarea>
  </div>

  <div>
    <label class="inline-flex items-center" for="checkboxDemo">
      <input class="c-toggle" type="checkbox" id="checkboxDemo">
      <span class="ml-2">Checkbox</span>
    </label>
  </div>

  <fieldset>
    <legend class="mb-1">Radio</legend>

    <div>
      <label class="inline-flex items-center">
        <input class="c-toggle" id="radioDemo1" type="radio" name="radioDemo" value="1">
        <span class="ml-2" for="radioDemo1">Option 1</span>
      </label>

      <label class="inline-flex items-center ml-6">
        <input class="c-toggle" id="radioDemo2" type="radio" name="radioDemo" value="2">
        <span class="ml-2" for="radioDemo2">Option 2</span>
      </label>
    </div>
  </fieldset>

  <div>
    <label class="inline-flex items-center" for="switchDemo">
      <input class="c-switch" id="switchDemo" type="checkbox">
      <span class="inline-block ml-2" for="switchDemo">Switch</span>
    </label>
  </div>
</section>
