<section class="space-y-4">
  <h2 class="subtitle">Grid</h2>

  <div class="c-grid">
    <div class="w-1/2">
      <div class="demo-block">
        Column
      </div>
    </div>
    <div class="w-1/2">
      <div class="demo-block">
        Column
      </div>
    </div>
    <div class="w-1/2">
      <div class="demo-block">
        Column
      </div>
    </div>
    <div class="w-1/2">
      <div class="demo-block">
        Column
      </div>
    </div>
  </div>

  <div class="c-grid" style="--grid-gap-x: 3rem;">
    <div class="w-1/2">
      <div class="demo-block">
        Custom gap
      </div>
    </div>
    <div class="w-1/2">
      <div class="demo-block">
        Custom gap
      </div>
    </div>
  </div>
</section>
