<section class="space-y-4">
  <h2 class="subtitle">Link faux</h2>

  <div class="relative flex items-center justify-center h-64 w-64 bg-gray-100 focus-within:ring">
    <a class="c-link-faux text-blue-600 hover:underline focus:outline-none focus:underline" href="#">Link</a>
  </div>
</section>
