<section class="space-y-4">
  <h2 class="subtitle">Ratio</h2>

  {% set ratioTitle = "mt-2 text-center" %}

  <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div>

      <div class="c-ratio c-ratio--3x1 bg-gray-100">
        <img class="object-cover" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">
      </div>
      <div class="{{ ratioTitle }}">Ratio 3:1</div>

    </div>
    <div>

      <div class="c-ratio c-ratio--2x1 bg-gray-100">
        <img class="object-cover" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">
      </div>
      <div class="{{ ratioTitle }}">Ratio 2:1</div>

    </div>
    <div>

      <div class="c-ratio c-ratio--16x9 bg-gray-100">
        <img class="object-cover" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">
      </div>
      <div class="{{ ratioTitle }}">Ratio 16:9</div>

    </div>
    <div>

      <div class="c-ratio c-ratio--4x3 bg-gray-100">
        <img class="object-cover" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">
      </div>
      <div class="{{ ratioTitle }}">Ratio 4:3</div>

    </div>
    <div>

      <div class="c-ratio c-ratio--square bg-gray-100">
        <img class="object-cover" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">
      </div>
      <div class="{{ ratioTitle }}">Ratio square</div>

    </div>
    <div>

      <div class="c-ratio c-ratio--3x4 bg-gray-100">
        <img class="object-cover" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">
      </div>
      <div class="{{ ratioTitle }}">Ratio 3:4</div>

    </div>
    <div>

      <div class="c-ratio sm:c-ratio--3x1 md:c-ratio--2x1 lg:c-ratio--16x9 xl:c-ratio--4x3 bg-gray-100">
        <img class="object-cover" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="">
      </div>
      <div class="{{ ratioTitle }}">Responsive</div>

    </div>
  </div>
</section>
