<section class="space-y-4">
  <h2 class="subtitle">Truncate</h2>

  <div class="c-truncate">
    Default - Aliquam quis arcu ligula. Curabitur tincidunt vitae leo ac interdum. Sed dolor purus, elementum et finibus ut, finibus at dolor. Fusce sit amet imperdiet purus, quis hendrerit sem. Pellentesque ultrices urna luctus arcu fermentum tincidunt. Cras congue mollis viverra. Suspendisse ac velit ultricies, consequat odio vitae, imperdiet leo. Praesent elit nunc, tincidunt eu nisi sed, vehicula auctor lorem. Proin mauris arcu, gravida id libero quis, laoreet tempor odio. Curabitur tristique purus non consectetur eleifend. Donec facilisis eget augue nec sollicitudin. Nullam convallis porttitor mi, nec bibendum lacus gravida nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut ante dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris semper ultricies odio ut tempus.
  </div>

  <div class="c-truncate" style="--truncate-lines: 2">
    Custom - Aliquam quis arcu ligula. Curabitur tincidunt vitae leo ac interdum. Sed dolor purus, elementum et finibus ut, finibus at dolor. Fusce sit amet imperdiet purus, quis hendrerit sem. Pellentesque ultrices urna luctus arcu fermentum tincidunt. Cras congue mollis viverra. Suspendisse ac velit ultricies, consequat odio vitae, imperdiet leo. Praesent elit nunc, tincidunt eu nisi sed, vehicula auctor lorem. Proin mauris arcu, gravida id libero quis, laoreet tempor odio. Curabitur tristique purus non consectetur eleifend. Donec facilisis eget augue nec sollicitudin. Nullam convallis porttitor mi, nec bibendum lacus gravida nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut ante dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris semper ultricies odio ut tempus.
  </div>
</section>
