/* RESET */

@layer base {

  /**
  * Adapt from: https://piccalil.li/blog/a-modern-css-reset/
  */

  /* Set core root defaults */
  html {
    scroll-behavior: smooth;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

}
