/* INPUT */

.c-input {
  --input-bg: #fff;
  --input-border-color: theme('colors.gray.300');
  --input-border-width: 1px;
  --input-border-radius: theme('borderRadius.md');
  --input-font-size: theme('fontSize.base');
  --input-line-height: theme('lineHeight.normal');
  --input-padding-x: theme('spacing.3');
  --input-padding-y: theme('spacing.2');
  --input-placeholder-color: theme('colors.gray.400');
  --input-focus-ring-color: theme('colors.blue.600');
  --input-focus-border-color: theme('colors.blue.600');

  display: block;
  width: 100%;
  padding: var(--input-padding-y) var(--input-padding-x);
  background-color: var(--input-bg);
  border-color: var(--input-border-color);
  border-style: solid;
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  appearance: none;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-color: var(--input-focus-ring-color);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    border-color: var(--input-focus-border-color);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
  }
}

select.c-input {
  --input-icon-padding: theme('spacing.10');
  --input-icon-bg-position: theme('spacing.2');
  --input-icon-bg-size: 1.5em 1.5em;
  --input-icon-color: #9ca3af; /* Can't be a tailwind variable */
  --input-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"><path stroke="var(--input-icon-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 8l4 4 4-4"/></svg>');

  padding-right: var(--input-icon-padding);
  background-image: escape-svg(var(--input-icon);
  background-position: right var(--input-icon-bg-position) center;
  background-repeat: no-repeat;
  background-size: var(--input-icon-bg-size);
  color-adjust: exact;
}
