/* BUTTON */

@layer components {

  .c-btn {
    --btn-bg: transparent;
    --btn-border-color: currentColor;
    --btn-border-width: 1px;
    --btn-border-radius: theme(borderRadius.md);
    --btn-color: inherit;
    --btn-font: inherit;
    --btn-padding-x: theme(spacing.3);
    --btn-padding-y: theme(spacing.2);
    --btn-focus-ring-color: theme(colors.indigo.600);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    border-style: solid;
    border-width: var(--btn-border-width);
    border-radius: var(--btn-border-radius);
    color: var(--btn-color);
    font: var(--btn-font);

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:focus-visible{
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: --btn-focus-ring-color;
    }
  }

}
