/* CONTAINER */

@layer components {

  .c-container {
    --container-gutter: theme(spacing.4);
    --container-width: theme(maxWidth.7xl);

    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-width);
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
    width: 100%;
  }

}
