/* GRID */

@layer components {

  .c-grid {
    --grid-gap-x: theme(spacing.6);
    --grid-gap-y: 0;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--grid-gap-y) * -1);
    margin-left: calc(var(--grid-gap-x) * -1);

    > * {
      box-sizing: border-box;
      padding-bottom: var(--grid-gap-y);
      padding-left: var(--grid-gap-x);
      width: 100%;
    }
  }

}
