/* RATIO */

@layer components {

  .c-ratio {
    --ratio: 100%;

    position: relative;
    display: block;

    &::before {
      content: "";
      display: block;
      padding-bottom: var(--ratio);
    }

    > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .c-ratio--3x1 { --ratio: 33.33333%; }
  .c-ratio--2x1 { --ratio: 50%; }
  .c-ratio--16x9 { --ratio: 56.25%; }
  .c-ratio--4x3 { --ratio: 75%; }
  .c-ratio--square { --ratio: 100%; }
  .c-ratio--3x4 { --ratio: 133.33%; }

}
