/* SKIP-LINK */

@layer components {

  .c-skip-link {
    --skip-link-bg: #000;
    --skip-link-color: #fff;
    --skip-link-padding: 0.5rem 1rem;
    --skip-link-z-index: 1;

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

    &:focus {
      z-index: var(--skip-link-z-index);
      width: auto;
      height: auto;
      padding: var(--skip-link-padding);
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
      background-color: var(--skip-link-bg);
      color: var(--skip-link-color);
      text-decoration: none;
    }

  }

}
