/* TRUNCATE */

@layer components {

  .c-truncate {
    --truncate-lines: 3;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--truncate-lines);
  }

}
