<!doctype html>
<html class="text-gray-900 bg-white" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Toolkit</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <!-- Skip link -->
  <a class="c-skip-link" href="#main">
    Aller au contenu
  </a>

  <!-- Header -->
  <header class="p-8 bg-gray-700 text-white text-center" role="banner">
    <div class="text-3xl font-bold">Tailwind Starter</div>

    <nav class="mt-4 space-x-4">
      <a class="hover:underline" href="/">Base</a>
      <a class="hover:underline" href="components.html">Components</a>
      <a class="hover:underline" href="js.html">JS</a>
    </nav>
  </header>

  <!-- Main -->
  <main class="c-container py-12 space-y-8" id="main">
    {% block main %}{% endblock %}
  </main>

  <script src="js/app.js" defer></script>
</body>
</html>
