/* GUTTER */

$gutter-values: () !default;
$gutter-values: map-merge(
  (
    '0': 0,
    '3': 0.75rem,
    '4': 1rem,
    '6': 1.5rem,
    '8': 2rem,
    '12': 3rem,
  ),
  $gutter-values
);


@each $gutter-name, $gutter-value in $gutter-values {
  .c-gutter-#{$gutter-name} {
    --grid-gutter: #{$gutter-value};
  }
}
