/* HEADINGS */

:root {
  --font-size-h1: theme('fontSize.4xl');
  --line-height-h1: 1.11111;
  --font-size-h2: theme('fontSize.3xl');
  --line-height-h2: 1.2;
  --font-size-h3: theme('fontSize.2xl');
  --line-height-h3: 1.33333;
  --font-size-h4: theme('fontSize.xl');
  --line-height-h4: 1.4;
  --font-weight-headings: bold;
}


h1, h2, h3, h4 {
  font-weight: var(--font-weight-headings);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}
