/* INPUT */

$input-bg: #fff !default;
$input-border-color: theme('colors.gray.300') !default;
$input-border-width: 1px !default;
$input-border-radius: theme('borderRadius.md') !default;
$input-font-size: theme('fontSize.base') !default;
$input-line-height: theme('lineHeight.normal') !default;
$input-padding-x: theme('spacing.3') !default;
$input-padding-y: theme('spacing.2') !default;
$input-placeholder-color: theme('colors.gray.400') !default;
$input-focus-ring-color: theme('colors.blue.600') !default;
$input-focus-border-color: theme('colors.blue.600') !default;

// Select icon
$input-icon-padding: theme('spacing.10') !default;
$input-icon-bg-position: theme('spacing.2') !default;
$input-icon-bg-size: 1.5em 1.5em !default;
$input-icon-color: #9ca3af !default; // Can't be a tailwind variable
$input-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"><path stroke="#{$input-icon-color}" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 8l4 4 4-4"/></svg>') !default;


.c-input {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  background-color: $input-bg;
  border-color: $input-border-color;
  border-style: solid;
  border-width: $input-border-width;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  line-height: $input-line-height;
  appearance: none;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-color: #{$input-focus-ring-color};
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    border-color: $input-focus-border-color;
  }

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }
}

select.c-input {
  padding-right: $input-icon-padding;
  background-image: escape-svg($input-icon);
  background-position: right $input-icon-bg-position center;
  background-repeat: no-repeat;
  background-size: $input-icon-bg-size;
  color-adjust: exact;
}
