/* SWITCH */

$switch-bg: #fff !default;
$switch-bg-size: contain !default;
$switch-border-color: theme('colors.gray.300') !default;
$switch-border-radius: theme('borderRadius.full') !default;
$switch-border-white: 1px !default;
$switch-color: theme('colors.blue.600') !default;
$switch-icon-color: #9ca3af !default;
$switch-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$switch-icon-color}'/></svg>") !default;
$switch-height: theme('spacing.5') !default;
$switch-width: theme('spacing.9') !default;
$switch-transition-property: background-color, background-position, border-color !default;
$switch-transition-duration: theme('transitionDuration.200') !default;
$switch-transition-timing-function: theme('transitionTimingFunction.in-out') !default;
$switch-focus-ring-color: theme('colors.blue.600') !default;
$switch-checked-icon-color: #fff !default;
$switch-checked-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$switch-checked-icon-color}'/></svg>") !default;


.c-switch {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  height: $switch-height;
  width: $switch-width;
  background-color: $switch-bg;
  background-image: escape-svg($switch-icon);
  background-origin: border-box;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: $switch-bg-size;
  border-color: $switch-border-color;
  border-radius: $switch-border-radius;
  border-style: solid;
  border-width: $switch-border-white;
  color: $switch-color;
  appearance: none;
  user-select: none;
  color-adjust: exact;
  transition-property: $switch-transition-property;
  transition-duration: $switch-transition-duration;
  transition-timing-function: $switch-transition-timing-function;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-color: #{$switch-focus-ring-color};
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }

  &:checked {
    background-color: currentColor;
    background-image: escape-svg($switch-checked-icon);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: $switch-bg-size;
    border-color: transparent;
  }
}
