/* TOGGLE */

$toggle-bg: #fff !default;
$toggle-bg-size: 100% 100% !default;
$toggle-border-color: theme('colors.gray.300') !default;
$toggle-border-white: 1px !default;
$toggle-color: theme('colors.blue.600') !default;
$toggle-icon-color: #fff !default;
$toggle-size: theme('spacing.5') !default;
$toggle-focus-ring-color: theme('colors.blue.600') !default;

$toggle-checkbox-border-radius: theme('borderRadius.DEFAULT') !default;
$toggle-checkbox-icon: url('data:image/svg+xml, <svg viewBox="0 0 16 16" fill="#{$toggle-icon-color}" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>') !default;

$toggle-radio-border-radius: theme('borderRadius.full') !default;
$toggle-radio-icon: url('data:image/svg+xml, <svg viewBox="0 0 16 16" fill="#{$toggle-icon-color}" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="3"/></svg>') !default;


.c-toggle {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  height: $toggle-size;
  width: $toggle-size;
  background-color: $toggle-bg;
  background-origin: border-box;
  border-color: $toggle-border-color;
  border-style: solid;
  border-width: $toggle-border-white;
  color: $toggle-color;
  appearance: none;
  user-select: none;
  color-adjust: exact;

  &[type="checkbox"] {
    border-radius: $toggle-checkbox-border-radius;
  }

  &[type="radio"] {
    border-radius: $toggle-radio-border-radius;
  }

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-color: #{$toggle-focus-ring-color};
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }

  &:checked {
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $toggle-bg-size;
    border-color: transparent;

    &[type="checkbox"] {
      background-image: escape-svg($toggle-checkbox-icon);
    }

    &[type="radio"] {
      background-image: escape-svg($toggle-radio-icon);
    }
  }
}
